<form ng-submit="submitForm()">
	{% csrf_token %}
	
	<md-content layout-gt-sm="row" layout-padding>
		<md-input-container flex-gt-sm>
			<label>Name of Kml Map</label>
			<input name="name" ng-model="datamap.name">
		</md-input-container>
	</md-content>

	<md-content layout-gt-sm="row" layout-padding>
		<md-input-container flex-gt-sm>
			<label>SODA Data Source</label>
			<input name="data_source" ng-model="datamap.data_source" placeholder="(e.g. data.cityofchicago.org)" />
		</md-input-container>
		<md-input-container flex-gt-sm>
			<label>SODA Dataset Identifier</label>
			<input name="dataset_identifier" ng-model="datamap.dataset_identifier" />
		</md-input-container>
	</md-content>

	<md-content layout-gt-sm="row" layout-padding>
		<md-input-container flex-gt-sm>
			<label>Area Map</label>
			<md-autocomplete 
				md-search-text="areaMapAutocomplete.searchText" 
				md-items="item in areaMapAutocomplete.getMatches(areaMapAutocomplete.searchText)" 
				md-selected-item-change="areaMapAutocomplete.selectedItemChanged(item)"
				md-min-length="0"
				md-item-text="item.name"
				md-selected-item="datamap.area_map">
			  <span md-highlight-text="areaMapAutocomplete.searchText" md-highlight-flags="^i">{$ item.name $}</span>
			</md-autocomplete>
		</md-input-container>
		<input type="hidden" name="area_map" ng-model="datamap.area_map.id"/>
	</md-content>

	{% comment %}
	<md-content layout-gt-sm="row" layout-padding>
		<md-input-container flex-gt-sm>
			<label>SODA "where" clause</label>
			<input name="search_kwargs" ng-model="datamap.where" />
		</md-input-container>
		<md-input-container flex-gt-sm>
			<label>Limit (number of results handled in one request)</label>
			<input name="limit" ng-model="datamap.limit" />
		</md-input-container>
	</md-content>
	{% endcomment %}

	<md-content layout="row" layout-padding layout-align="center center" layout-align-sm="end center">
		<md-button type="submit" class="md-raised md-primary">Submit</md-button>
	</md-content>
	
</form>