{% load compress %}
{% load static %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		
		<title>Maps</title>

		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'lib/cesium/Widgets/widgets.css' %}" />

		{% compress css %}
		<link type="text/less" rel="stylesheet" href="{% static 'map/css/material-theme-1/style.less' %}">
		{% endcompress %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
	  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
	 	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
	 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

		<script src="{% static 'lib/cesium/Cesium.js' %}"></script>
		{% include 'map/javascripts.html' %}

	</head>
	<body>
		<div ng-app="MapApplication" ng-controller="MapApplicationController" style="height:100vh">

			<section layout="row" flex style="height:100%;">
				<md-sidenav 
			        class="md-sidenav-left"
			        md-component-id="left"
			        md-is-locked-open="$mdMedia('gt-sm')"
			        md-whiteframe="4">

		        	<md-content flex>
		        		<div class="nav-custom-list" flex layout-padding>
							<div
				      			ng-repeat="datamap in datamaps" 
				      			ng-controller="DataMapController"
				      			ng-click="stopPropagation($event)">
				      			<div layout="column" flex>
				      				<div layout="row">
					      				<div flex="80">
					      					<h4>{$ datamap.name $}</h4>
					      				</div>
					      				<div flex="20">
					      					<md-button md-ink-ripple="#03A9F4" ng-click="setGeometry()" ng-show="!isLoaded" class="md-raised oc-mini">View</md-button>
					      					<md-switch ng-show="isLoaded" class="md-secondary" ng-model="isVisible" aria-label="Visible"  aria-label="Switch 1" ng-change="toggleVisibility(isVisible)"></md-switch>
					      					<md-button md-ink-ripple="#03A9F4" ng-click="edit()" ng-show="true" class="md-raised oc-mini">Edit</md-button>
				      						
					      				</div>
					      			</div>
					      			<div layout="row">
					      				<md-progress-linear ng-show="datamap.isLoading" md-mode="indeterminate"></md-progress-linear>
					      				<md-progress-linear ng-show="datamap.watchingProgress" md-mode="determinate" value="{$ datamap.progressValue $}"></md-progress-linear>
					      				<md-progress-linear ng-show="datamap.taskPending" md-mode="query"></md-progress-linear>
					      			</div>
				      			</div>
				      		</div>
				      	</div>
		      		</md-content>

			    </md-sidenav>

				<div layout="column" flex>

				 	<md-toolbar>
				 		<div class="md-toolbar-tools">
				 			<md-button ng-click="toggleLeftMenu()" hide-gt-sm aria-label="Toggle Menu">Menu</md-button>
				 			<h1><span>Kml File App</span></h1>
				 			<span flex></span>
				 			<md-button ng-click="navigate('map')" aria-label="Map View">Map</md-button>
				 			<md-button ng-click="navigate('create_datamap')" aria-label="Toggle Menu">Create Data Map</md-button>
				 		</div>
				 	</md-toolbar>

				 	<md-content layout="column" flex ng-show="view == 'map'">
				 		<div layout="column" id="worldmap"></div>
				 	</md-content>

					<div layout="column" flex ng-show="view == 'create_datamap'">
						<md-content ng-controller="DataMapCreateController" flex layout-padding>
							<md-tabs md-dynamic-height md-border-bottom>
						      <md-tab md-active="current_tab == 'basic-info'" 
						      		  md-on-select="change_tab('basic-info')" 
						      		  label="Data Map Basic Info">
						        <md-content ng-controller="DataMapBascInfoController" class="md-padding">
						          <h1 class="md-display-2">Data Map Basic Info</h1>
						          {% include 'map/app/datamap-basic-info-form.html' %}
						        </md-content>
						      </md-tab>
						      <md-tab md-active="current_tab == 'settings'"
						      		  md-on-select="change_tab('settings')"
						      		  label="Data Import Settings">
						        <md-content ng-controller="DataMapImportSettingsController" class="md-padding">
						          <h1 class="md-display-2">Data Import Settings</h1>
						          {% include 'map/app/datamap-import-settings-form.html' %}
						        </md-content>
						      </md-tab>
						      <md-tab md-active="current_tab == 'import'" 
						      		  md-on-select="change_tab('import')"
						      		  label="Import Data">
						        <md-content ng-controller="DataMapImportProgressController" class="md-padding">
						          <h1 class="md-display-2">Import Data</h1>
						          {% include 'map/app/datamap-import-progress.html' %}
						        </md-content>
						      </md-tab>
						    </md-tabs>
						</md-content>
					</div>

				 </div>

			</section>

		</div>	
	</body>
</html>