{% load static %}

<!doctype html>
<html>
	<html>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title>mapplot - Kml Map Viewer</title>
		<link rel="stylesheet" type="text/css" href="{% static 'lib/cesium/Widgets/widgets.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'map/css/kmlmap-viewer.css' %}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="{% static 'lib/cesium/Cesium.js' %}"></script>
		<script src="{% static 'map/js/kmlmap-viewer.js' %}"></script>
	</html>
	<body>
		<div id="maplist">
			<ul class="selectable-list">
				{% for kmlmap in view.kmlmaps %}
				<li>
					<a href="javascript:;" data-source="{{kmlmap.kml_file.url}}">{{kmlmap.name}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div id="mapcontainer">
			<div id="worldmap"></div>
		</div>
	</body>
</html>